/* line 1, ../../compass/sass/_header.scss */
.float-right {
  float: right;
}

/* line 5, ../../compass/sass/_header.scss */
.navbar-header a {
  text-align: center;
  margin-right: 10px;
}

/* line 10, ../../compass/sass/_header.scss */
.dropdown {
  position: relative;
}

/* line 14, ../../compass/sass/_header.scss */
.dropdown .dropdown-links {
  display: none;
}

/* line 18, ../../compass/sass/_header.scss */
.dropdown:hover .dropdown-links {
  display: block;
}

/* line 22, ../../compass/sass/_header.scss */
.dropdown-links a {
  display: block;
  position: absolute;
  left: 20px;
  background-color: #f8f8f8;
  border: 1px solid #999;
  width: 150px;
  text-align: left;
  color: #777;
}

/* line 33, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(1) {
  top: 40px;
}

/* line 37, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(2) {
  top: 60px;
}

/* line 41, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(3) {
  top: 80px;
}

/* line 45, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(4) {
  top: 100px;
}

/* line 49, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(5) {
  top: 120px;
}

/* line 53, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(6) {
  top: 140px;
}

/* line 57, ../../compass/sass/_header.scss */
.dropdown-links a:nth-child(7) {
  top: 160px;
}

/* line 61, ../../compass/sass/_header.scss */
.dropdown-links a:hover {
  color: black;
}

@media only screen and (max-width: 960px) {
  /* line 66, ../../compass/sass/_header.scss */
  .navbar-header {
    float: none;
  }

  /* line 69, ../../compass/sass/_header.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 73, ../../compass/sass/_header.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 77, ../../compass/sass/_header.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 80, ../../compass/sass/_header.scss */
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  /* line 84, ../../compass/sass/_header.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 87, ../../compass/sass/_header.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 91, ../../compass/sass/_header.scss */
  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  /* line 96, ../../compass/sass/_header.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  /* line 99, ../../compass/sass/_header.scss */
  .collapsing {
    overflow: hidden !important;
  }
}
/* line 5, ../../compass/sass/styles.scss */
.slick-image img {
  width: 100vw;
}

/* line 9, ../../compass/sass/styles.scss */
.main {
  margin-top: 20px;
}

/* line 13, ../../compass/sass/styles.scss */
.home-header {
  text-align: center;
}

/* line 17, ../../compass/sass/styles.scss */
.register-wrapper {
  margin-top: 100px;
}
