.App {
  text-align: center;
}

.main{
  margin-top:  120px;
}

.float-right{
  float: right;
}

.dropdown{
  position: relative;
}

.dropdown .dropdown-links{
  display: none;
}

.dropdown:hover .dropdown-links{
  display: block;
}

.dropdown-links a{
  display: block;
  position: absolute;
  left: 20px;
  background-color: #f8f8f8;
  border: 1px solid #999;
  width: 150px;
  text-align: left;
  color: #fff;
}

.dropdown-links a:nth-child(1){
  top: 40px;
}

.dropdown-links a:nth-child(2){
  top: 60px;
}

.dropdown-links a:nth-child(3){
  top: 80px;
}

.dropdown-links a:hover{
  color: black;
  
}
